rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }

    match /users/{userId} {
	    allow read: if 
        request.auth.uid == userId;
	    allow write: if request.auth.uid == userId;
    }
    
    match /userSharingSettings/{userId} {
    	allow read: if request.auth.uid != null;
      allow create, update: if request.auth.uid == userId;
      allow delete: if false;
      
      match /sharedFolders/{folderId} {
      	allow create: if 
        	request.auth.uid != null && 
          get(/databases/$(database)/documents/folders/$(folderId)).data.owner == request.auth.uid &&
          get(/databases/$(database)/documents/folders/$(folderId)).data.owner != userId;
        
        allow read: if
        	userId == request.auth.uid;
        
        allow delete: if
        	get(/databases/$(database)/documents/folders/$(folderId)).data.owner == request.auth.uid;
      }
    }
    
    match /folders/{folderId} {
    	allow read: if 
      	request.auth.uid != null && 
        resource.data.owner == request.auth.uid &&
        request.query.limit <= 25;
      allow delete: if
      	request.auth.uid != null && 
        resource.data.owner == request.auth.uid;
      allow create: if 
      	request.auth.uid != null && 
        request.resource.data.owner == request.auth.uid &&
        request.resource.data.name != null &&
        request.resource.data.name.size() > 0 &&
        request.resource.data.name.size() < 50;
      allow update: if 
      	request.auth.uid != null && 
        resource.data.owner == request.auth.uid &&
        request.resource.data.owner == request.auth.uid &&
        request.resource.data.name != null &&
        request.resource.data.name.size() > 0 &&
        request.resource.data.name.size() < 50;
        
        
      match /passwords/{passwordId} {
				allow read: if 
          request.auth.uid != null && 
          (
          	get(/databases/$(database)/documents/userSharingSettings/$(request.auth.uid)/sharedFolders/$(folderId)).data.shared == true 
          	|| get(/databases/$(database)/documents/folders/$(folderId)).data.owner == request.auth.uid
          ) &&
          request.query.limit <= 100;
        
        allow delete: if
        	request.auth.uid != null && 
        	(
          	get(/databases/$(database)/documents/userSharingSettings/$(request.auth.uid)/sharedFolders/$(folderId)).data.shared == true 
          	|| get(/databases/$(database)/documents/folders/$(folderId)).data.owner == request.auth.uid
          );
        
        allow create: if 
          request.auth.uid != null && 
          (
          	get(/databases/$(database)/documents/userSharingSettings/$(request.auth.uid)/sharedFolders/$(folderId)).data.shared == true 
          	|| get(/databases/$(database)/documents/folders/$(folderId)).data.owner == request.auth.uid
          ) &&
          request.resource.data.owner == request.auth.uid &&
          request.resource.data.name != null &&
          request.resource.data.name.size() > 0 &&
          request.resource.data.name.size() < 50;
          
        allow update: if 
          request.auth.uid != null && 
          (
          	get(/databases/$(database)/documents/userSharingSettings/$(request.auth.uid)/sharedFolders/$(folderId)).data.shared == true 
          	|| get(/databases/$(database)/documents/folders/$(folderId)).data.owner == request.auth.uid
          ) &&
          resource.data.owner == request.resource.data.owner && 
          request.resource.data.name != null &&
          request.resource.data.name.size() > 0 &&
          request.resource.data.name.size() < 50;
			}
    }
  }
}